.background-container {
    background-image: url('/assets/images/twitterBG2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100½;
    margin-bottom: 1vh;
    position: relative;
    z-index: 1;
  }
  
  